@import "../../variables.scss";

.customTable {
  thead {
    font-size: 14px;
    th {
      border: 0;
      font-weight: 600;
      padding: 20px;
    }
  }
  tbody {
    background: #fff;
    box-shadow: 0 10px 20px rgba($color: $color-primary, $alpha: 0.1);
    td {
      padding: 20px;
      border: 0;
      font-weight: 500;
      font-size: 13px;
      vertical-align: middle;
    }
  }

  &__button {
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 600;
    color: #fff;

    &:focus {
      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }

  &__action {
    position: relative;
  }

  &__popupMenu {
    padding: 10px 0px;
    &::after {
      display: none;
    }
  }

  &__popupMenuItems {
    padding: 10px 30px;
    transition: 0.2s color ease;
    transition: 0.2s background-color ease;
    cursor: pointer;
    &:hover {
      background: $color-primary;
      color: #fff;
    }

    &--disabled {
      color: grey;
      opacity: 0.5;
      cursor: default;
      &:hover {
        color: grey;
        background-color: #fff;
      }
    }
  }

  &__popupMenuIcon {
    margin-right: 20px;
  }
}
