@import "../../variables.scss";

.mainLayout {
  color: #12405d;

  &__inner {
    margin: 0 !important;
  }

  &__content {
    background-color: #f5fafe;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__sidebarContainer {
    padding: 0 !important;
  }

  &__contentContainer {
    padding: 0 !important;
  }

  &__topNav {
    width: 100%;
  }

  &__mainContent {
    padding: 0px 40px;
  }

  &__pageTitle {
    font-size: 19px;
    font-weight: 600;
  }

  &__pageContent {
    width: 100%;
    padding: 30px 0px;
  }

  &__subPageNav {
    width: 100%;
    border-bottom: 1px solid #00000029;
    padding: 20px 50px;
    margin-bottom: 40px;
    a {
      @extend %link;
    }
  }

  &__subPageItem {
    font-size: 14px;
    padding: 20px 60px;
    &--active {
      border-bottom: 4px solid $color-primary;
    }
  }
}
