@import "../../variables.scss";

.topNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 50px;

  &__badge {
    position: relative;
    padding: 0 40px;
    cursor: pointer;
    &:after {
      content: "";
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto;
      border-width: 6px 6px 0 6px;
      border-color: #5299d7 transparent transparent transparent;
      width: 0;
      height: 0;
      border-style: solid;
      opacity: 1;
      position: absolute;
    }

    img {
      margin-right: 10px;
    }
  }

  &__name {
    @extend %link;
  }

  &__menu {
   
  }

  &__menuItem {
    &--title {
      font-weight: 600;
      font-size: 12px;
    }
    &--content {
      font-size: 16px;
      overflow: hidden;
      font-weight: 300;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    &--contentLogout {
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
      @extend %link;
    }
  }
}
