@import "../../variables.scss";

.financeAccountPage {
  &__subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  &__search {
    width: 300px;
  }
}
